html, body {
    min-height: 100%;
}

html {
    /* The image used */
    background-image: url("../img/site-bg.jpg");
    background-color: #000000ae;
    background-blend-mode: darken;
    background-attachment: fixed;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Full height */
    height: 100%;
    width: 100%;
    min-width: 408px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    padding-left: 2rem;
}

.site-header {
    flex-grow: 0;

    width: 100%;

    padding: 20px;
}
.site-body {
    flex-grow: 1;

    width: 100%;
    max-width: calc(700px + 2em);

    padding: 50px 2em;
}
.site-footer {
    flex-grow: 0;

    width: 100%;

    padding: 20px 20px;
}

.logo {
}

.copyright {
    color: #CCCCCC;
}

.link-group {
    margin-bottom: 2em;
}
.link-anchor {
    display: inline-flex;
    margin-right: 0.75em;
    align-items: center;
    justify-content: center;;
}
.link-anchor:last-of-type {
    padding-right: 0;
}
.link-logo {
    max-height: 2rem;
    filter: invert(0%);
    vertical-align: middle;
    margin-right: 0.5em;
}
.link-anchor:hover > .link-logo {
    filter: invert(50%);
}

